.container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.card_publication {
<<<<<<< HEAD
  background-color: rgb(210, 210, 210);
  display: flex;
  gap: 2em;
  padding-left: 1.5%;
  padding-right: 1.5%;
=======
    background-color: rgb(216, 233, 253);
    display: flex;
    gap: 2em;
    padding-left: 1.5%;
    padding-right: 1.5%;
>>>>>>> aafe7807b8685c3b4013083c344c2714acef8042
}

.boxtitulo {
  width: 110vh;
  height: 15vh;
  display: flex;
  gap: 1em;
}

.title {
  width: 70vh;
  display: flex;
  text-align: left;
  align-items: center;
  place-content: center;
  margin: 0%;
}

.lesson {
  width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  place-content: center;
  margin: 0%;
}

.grade {
  width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  margin: 0%;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  margin: 0%;
  padding-right: 3%;
}

.boxfecha {
  background-color: rgb(226, 226, 226); 
  display: flex;
  align-items: center;
  place-content: center;
  justify-content: center;
}

.fecha {
  color: black;
  text-align: center;
  font-size: 12px;
  width: 100px;
  margin: 0%;
}

.none {
  margin-top: 10%;
}