.container {
  position:fixed;
  top:25%;
  left:25%;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(37, 37, 37, 0.294);
}

.noReview {
  text-align: center;
  width: 100%;
  color: rgb(117, 117, 117);
}

.texto {
  color: rgb(63, 81, 181)
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 5%;
  max-height: 50em;
  overflow: scroll;
  -ms-overflow-style: none;
  align-items: center;
}

.reviewsContainer::-webkit-scrollbar {
  display: none;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardComment {
  width: 40em;
  display: flex;
  flex-direction: row;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageContainer{
  padding-left: 4%;
  padding-right: 4%;
}

.textoContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
}

.comment {
  margin: 0%;
}

.name {
  font-weight: bold;
  margin: 0%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  place-content: center;
  gap:1em;
  padding: 1em;
}

.contenedorComentarioNuevo {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  gap: 1.5em;
  padding-top: 5%;
  padding-bottom: 5%;
  top:0%;
  left:0%;
  border-radius: 10px;
  width: 40em;
  box-shadow: 0px 5px 10px rgba(37, 37, 37, 0.294);
}

.textareaComentario {
  width: 30em;
  height: 5em;
}

.botonesComentarioNuevo {
  display: flex;
  gap: 1em;
}

/*////////////////////////animaciones//////////////////////////*/

.fadeIn {
    animation: fadeInAnimation 0.3s ease-in-out;
  }
  
  @keyframes fadeInAnimation {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .fadeOut {
    animation: fadeOutAnimation 0.3s ease-in-out;
  }
  
  @keyframes fadeOutAnimation {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
