.container {
  position:fixed;
  top:25%;
  left:30%;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background-color: rgba(242, 242, 242, 0.675);
  align-items: center;
  place-content: center;
  justify-content: center;
}

.noReview {
  text-align: center;
  width: 100%;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 5%;
  max-height: 50em;
  overflow: scroll;
  -ms-overflow-style: none;
  align-items: center;
}

.reviewsContainer::-webkit-scrollbar {
  display: none;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardComment {
  width: 40em;
  display: flex;
  flex-direction: row;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageContainer{
  padding-left: 4%;
  padding-right: 4%;
}

.textoContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
}

.comment {
  margin: 0%;
}

.name {
  font-weight: bold;
  margin: 0%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  place-content: center;
  gap:1em;
  padding: 1em;
}

/*////////////////////////animaciones//////////////////////////*/

.fadeIn {
    animation: fadeInAnimation 0.3s ease-in-out;
  }
  
  @keyframes fadeInAnimation {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  .fadeOut {
    animation: fadeOutAnimation 0.3s ease-in-out;
  }
  
  @keyframes fadeOutAnimation {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
