.container {
    position: absolute;
    top: 16%;
    width: 715px;
    max-height: 340px;
    overflow: scroll;
}

.label {
    margin-left: 5% ;
    margin-top: 5%;
    margin-right: 3%;
}

.textarea {
    width: 400px;
    max-height: 70px;
    margin-top: 3%;
}

.select {
    width: 200px;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.submit {
    margin-left: 42%;
    margin-bottom: 5%;
}