.x {
    position: absolute;
    top: 16%;
    width: 715px;
    min-height: 340px;
    background-color: rgba(229, 229, 229, 0.927);
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    justify-content: center;
    gap: 2em
}

.label {
    margin-top: 3%;
    margin-bottom: 3%;
    color: black;
}

.textarea {
    width: 400px;
    max-height: 70px;
    margin-top: 3%;
}

.error {
    color: red;
}

.submit {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}