@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');

  font-family: 'Roboto-bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Roboto;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

#root {
  width: 100%;
}

body {
  margin: 0%;
  padding: 0%;
  padding-top: 4.5%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgb(245, 250, 255);
  width: 100%;
}

section {
  display: flex;
}

a {
  text-decoration: none;
}

button {
  font-family: "Roboto";
  font-weight: 900;
  border-radius: 0.8em;
  height: 7vh;
  border-color: transparent;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: rgb(63, 81, 181);
  transition: 0.1s linear;
  position: relative;
  color: white;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.3s linear
}

input {
  border: transparent;
  border-radius: 5px;
}

textarea {
  border: transparent;
  border-radius: 5px;
  resize: none;
}

select {
  border-radius: 5px;
  border: transparent;
}

* {
  box-sizing: border-box;
}