<<<<<<< HEAD
.lasCards {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
=======
.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 2.5rem;
    margin-left: 13%;
    margin-top: 35%;
    padding-bottom: 30px
>>>>>>> 74b9dde0fd84272c02484d11013a1da00acde18d
}