.container button.selected {
    background-color: #000000;
    color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-content: center;
    gap:5px
  }