/* DashBoardAdmin.module.css */

.container {
  background-color: rgba(242, 242, 242, 0.675);
  display: flex;
  padding: 5%;
  border-radius: 15px; 
}

.leftSection {
  width: 50%;
  padding-right: 20px; 
  border-right: 3px solid #1266e4; 
  display: flex;
  flex-direction: column;
}

.rightSection {
  width: 50%;
  padding-left: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anunciosList,
.usuarioList {
  list-style: none;
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.anunciosListItem,
.usuarioListItem {
  margin-bottom: 10px;
}

.informacionAdicional {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px; 
}

.usuarioDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuarioImage {
  width: 150px;
  height: 130px;
  border-radius: 35%;
  margin-bottom: 20px;
}

.usuarioActions {
  display: flex;
  align-items:start
}

.usuarioActions button {
  margin-right: 50px;
  height: 50px;
}

.logo {
  width: 20px; 
  height: 20px; 
  margin-right: 10px;
}