.container {
    width: 1360px;
<<<<<<< HEAD



=======
    text-align: center;
    margin-top: 10%;
>>>>>>> 9742b6adbdecbe6dbe01c09813a7be387fe62144
}


img{
    height: 15px;
    width: 15px;
}


  