.container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: 80vh;
}

img{
    height: 15px;
    width: 15px;
}

.wasap {
    margin-top: 3%;
}