.container {
    position: absolute;
    display: flex;
    background-color: rgb(206, 206, 255);
    top: 30%;
    left: 5%;
}

.anuncio {
    background-color: rgb(191, 255, 255);
}

.about {
    background-color: rgb(193, 255, 194);
}

.imgCont {
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: rgb(62, 70, 121);
    border-radius: 50%;
    left: 70%;
    top: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }