.container {
    display: flex;
    top: 30%;
    left: 5%;
    min-height: 95vh;
}

.anuncio {
    background-color: rgb(238, 241, 247);
    flex: 1;
    text-align: center;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-content: center;
    gap: 1em;
}

.about {
    background-color: rgb(255, 255, 255);
    flex: 0.4;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 5%;
}

.boxAbout {
  top: 21%;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  gap: 1em
}

.imgCont {
    width: 160px;
    height: 160px;
    background-color: rgb(86, 86, 86);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .botonPago {
    margin-top: 10%;
  }

  .label {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .aboutWea {
    width: 100%;
    margin: 0%;
    padding: 2%;
    line-height: 1.5;
    font-size: larger;
  }

  .claseContainer {
    width: 40em;
  }

  .teacherContainer {
    width: 40em;
  }

  .title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 45px;
    max-width: 90vh;
  }

  .grade {
    margin-top: 3%;
  }

  .botonMensaje {
    margin: 0%;
    margin-top: 3%;
  }

  .textareaComment {
    width: 40em;
    height: 5em;
  }

  .messageContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    place-content: center;
  }

  .botones {
    display: flex;
    gap: 1em;
  }

  .payment {
    background-color: white;
    position: fixed;
    top:20%;
    z-index: 4;
    padding: 2%;
    left: 30%;
  }