.container {
    position: relative;
    margin-bottom: 5%;
    margin-top: 100px;
}

.search {
    position: absolute;
    left: 45%;
    top: 60%;
    border-radius: 15px;
 }

 .bgd {
    background-color: rgb(224, 238, 255);
 }