.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5em;
   margin-bottom: 5%;
   margin-top: 5%;
 }

 .busqueda {
   margin: 0%;
   margin-top: 7%;
   z-index: 0;
 }

 .titulo {
  color: white;
 }

 .contenedorBusqueda {
  background-color: rgb(136, 136, 136);
  padding: 1%;
  padding-top: 1.2%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: -5%;
  z-index: 1;
 }