.container {
    position: fixed;
    background-color: rgb(35, 128, 211);
    backdrop-filter: blur(5px);
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    box-shadow: 0px 5px 10px rgba(58, 58, 58, 0.215);
    border-radius: 10px;
    gap: 1em;
}

.container p {
    margin-top: 5%;
    max-width: 100%;
    text-align: center;
    font-family: 'Poppins-Medium';
    color: white;
    /* text-shadow: 0px 2px white,
    0px 2px 5px rgba(63, 81, 181, 0.374); */
}