.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1%;
    margin-top: -3%;
    background-color: rgb(198, 221, 255);
    border-radius: 1em;
    max-height: 100vh;
}

.tabContainer {
    display: flex;
    width: 100%;
    place-content: center;
    height: 100%;
}

.enviar {
    margin-left: 1em;
}

.chatArea {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.chatArea:focus {
    outline: none;
}

.notReadMessage {
    background-color: white;
    padding: 2%;
    width: 10em;
    text-overflow: ellipsis;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.notReadMessage:hover {
    cursor: pointer;
}

.userMessage {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.spanMessage {
    margin: 0%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 233, 253);
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    flex: 0.3;
    border-radius: 1em;
}

.messageContainer {
    /* background-color: rgb(255, 255, 255); */
    padding: 2%;
    padding-top: 2%;
    flex: 1;
    display: flex;
    place-content: center;
    width: 100%;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0%;
    padding-left: 0%;
}

.user:hover {
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}