.card_publication {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer; 
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out; 
  background-color: #ffffff;
  font-weight: bold;
  color: white;
  width: 350px;
  height: 380px;
  gap: 1em;
  align-items: center;
}

.card_publication:hover{
  transform: scale(1.05);
  transition: 0.5s ease;
} 

.title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  max-width: 300px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.lesson {
  font-size: 16px;
  margin-top: 5px;
  color: black;
  text-align: center;
}

.grade {
  font-size: 9px;
  margin-top: 3px;
  color:black;
  display: flex;
  justify-content: center;
}

.value {
  text-align: center;
  color: black;
}

.assets{
  z-index: -1;
  border-radius: 10px;
  width: 350px;
  height: 280px;
  background-color: rgb(50, 50, 50);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titlecont {
  background-color: transparent;
}

.contlesson {
  background-color: transparent;
}

.texto {
  background-color: transparent;
  margin-bottom: 2%;
}