.container {
    margin-top: 8%;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}


.nav {
    color: rgb(0, 0, 0);
    font-size: 20px;
    bottom: 0%;
}