.container {
    background-color: rgb(195, 195, 195);
    margin-right: -5px;
    margin-bottom: -2%;
    margin-top: 5%;
    text-align: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}