.container {
    background-color: rgb(238, 246, 255);
    margin-right: -5px;
    margin-bottom: -2%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    color: rgb(117, 117, 117);
}
