.container {
    background-color: rgb(0, 0, 0);
    margin-right: -5px;
    margin-bottom: -2%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0.2%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.columns {
    display: flex;
    justify-content: center ;
    font-size: 14px;
    gap: 3em;
}

.titulo {
    font-size: 18px;
    color: rgb(154, 154, 154);
}

.column p {
    cursor: pointer; /* Agregamos esto para que el cursor se transforme en una mano al pasar sobre los nombres */
    transition: transform 0.85s; /* Agregamos transición para suavizar el efecto de rotación */
  }

  .link {
    color: white
  }

  .caca {
    display: flex;
    flex-direction: column;
  }

  .caquita {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  @media screen and (max-width: 480px) {
    .container {
      background-color: rgb(0, 0, 0);
      height: 155px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav {
      width: 60%;
      text-align: center;
    }

    .columns {
      display: none;
    }
  }

  @media screen and (max-width: 800px) and (max-height: 1050px) {
    .container {
      background-color: rgb(0, 0, 0);
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 5%;
    }

    .columns .caca {
      display: none;
    }

    .nav {
      padding-top: 2%;
    }
  }