.container {
    width: 300px;
    display: flex;
}

.input {
    height: 7vh;
    border-top-left-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    border-color: transparent;
}

.boton {
    position: relative;
    z-index: -1;
    margin-left: -10px;
    border-radius: 0.8em;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;

}