.contenedorPerfil {
    display: flex;
    flex-direction: row;
    margin: 0%;
    width: 100%;
    min-height: 100vh;
  }
  
  .contenedorTabs {
    flex: 0.5;
    gap: 1;
    background-color: rgb(154, 154, 154);
  }

  .tabs {
  margin: 0%;
  padding-top: 12%;
  padding-bottom: 12%;
  text-align: center;
  color: rgb(24, 24, 24);
  }

  .tabs:hover {
    background-color: rgb(189, 189, 189);
    color: rgb(41, 41, 41);
    cursor: pointer;
  }

  .datos{
    flex-direction: column;
    gap: 1.5em
  }

  .imagen {
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }

  .contenedorInfo {
    flex: 1.5;
    background-color: rgb(189, 189, 189);
    justify-content: center;
    padding-top: 3%;
    gap: 5em;
  }

  .infoLabel {
    color: rgb(32, 32, 32);
    text-align: left;
  }

  .imgCont {
    flex-direction: column;
    width: 40vh;
    height: 40vh;
    background-color: rgb(81, 81, 81);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .containerAnuncios {
    margin-bottom: 5%;
    width: 100%;
  }

  .crearAnuncio {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .contenedorHistorial {
    margin-top: -3.6%;
    display: flex;
    flex-direction: column;
    width: 97%;
  }

  .contenedorTabsHistorial {
    display: flex;
    flex-direction: row;
    flex: 0.1;
    place-content: center;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1%;
  }

  .contenedorInfoHistorial {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  .tabHistorial {
    margin: 0%;
    padding: 1%;
    border-radius: 10px;
    font-weight: bolder;
  }

  .tabHistorial:hover {
    border-radius: 10px;
    background-color: rgba(151, 151, 151, 0.493);
    transition: 0.2s linear;
    cursor: pointer;
  }

  .hr {
    padding: 0%;
    margin: 0%;
    border-width: thick;
  }
