.contenedorPerfil {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    min-height: 100vh;
  }

  .wea {
    background-color: rgba(1, 1, 1, 0.56);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
  }

  .wea {
    -webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .tabsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 60%;
    gap: 0.5em;
  }

  .icon {
    height: 20px;
    width: auto;
    margin: 0%;
    margin-bottom: 20px;
  }
  
  .contenedorTabs {
    background-color: rgb(63, 81, 181);
    display: flex;
    width: 200px;
    height: 100%;
    right: 0%;
    flex-direction: column;
    align-items: center;
    place-content: center;
    justify-content: space-evenly;
    margin: 0%;
  }

  .contenedorTabs {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .tabs {
  margin: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  }

  .active {
    margin: 0%;
    text-align: center;
    padding: 20px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Poppins-Bold';
    color: rgb(255, 255, 255);
    padding-top: 2%;
  }

  .tabs:hover {
    transition: 0.25s linear;
    cursor: pointer;
  }

  .datos{
    flex-direction: column;
    gap: 1.5em;
    height: 400px;
    padding: 30px;
    border-radius: 1em;
  }

  .imagen {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .contPerfil {
    margin-top: 1%;
    display: flex;
    gap: 6em;
  }

  .contenedorInfo {
    flex: 1.5;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding-top: 4%;
    gap: 5em;
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
  }

  .contenedorInfo::-webkit-scrollbar {
    display: none;
  }

  .infoLabel {
    color: rgb(32, 32, 32);
    text-align: left;
  }

  .imgCont {
    flex-direction: column;
    width: 50vh;
    height: 50vh;
    background-color: rgb(81, 81, 81);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.307);
  }

  .containerAnuncios {
    margin-top: -3.6%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;
  }

  .crearAnuncio {
    display: flex;
    flex-direction: row;
    flex: 0.1;
    place-content: center;
    justify-content: center;
    align-items: center;
  }

  .contenedorHistorial {
    margin-top: -3.6%;
    display: flex;
    flex-direction: column;
    width: 99.4%;
    padding-bottom: 5%;
  }

  .contenedorTabsHistorial {
    display: flex;
    flex-direction: row;
    flex: 0.1;
    place-content: center;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1%;
  }

  .contenedorInfoHistorial {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  .tabHistorial {
    margin: 0%;
    padding: 1%;
    border-radius: 10px;
    font-weight: bolder;
  }

  .tabHistorial:hover {
    border-radius: 10px;
    opacity: 85%;
    transition: 0.2s linear;
    cursor: pointer;
  }

  .hr {
    margin: 0%;
    border-width: 1px;
    width: 80%;
    border-style: solid;
    color: white;
    opacity: 100%;
    margin-bottom: 15px;
  }

  .boxA {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .boxB {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .boxC {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .panuncio {
    margin: 0%;
    padding: 1%;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
  }

  .panuncio:hover {
    border-radius: 10px;
    opacity: 85%;
    transition: 0.2s linear;
    cursor: pointer;
  }

  .container {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
  }

  /**/

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  