.paginado {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
  }
  
  .paginado li {
    margin: 0 4px;
  }
  
  .paginado button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .paginado button:focus {
    outline: none;
  }
  
  .paginado .number.active {
    color: white;
    border-radius: 10px;
    padding: 5px 12px;
    background-color: rgb(63, 81, 181);
  }

  .paginado .number:hover {
    cursor: pointer;
  }
  
  .inicioFin {
    color: rgb(0, 0, 0); 
    width: 55px;
    margin: 0%;
    display: flex;
  }
  
  .paginado .disabled button {
    color: #9b9b9b;
    cursor: not-allowed;
  }
  

  .container {
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
  }

  .inicio:hover {
    cursor: pointer;
  }

  .inicio {
    margin: 0%;
  }