.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    max-width: 1500px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5%;
    margin-top: -1%;
    z-index: -1;
  }

  .imagenes {
    height: auto;
    width: 100%;
  }

  .carouselContainer {
    height: 400px;
  }