.formu {
    position: fixed;
    display: flex;
    background-color: rgba(242, 242, 242, 0.675);
    flex-direction: column;
    gap: 2em;
    padding: 4%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    left: 40%;
    top: 15%;
    border-radius: 1em;
}

.weas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.error {
    color: red;
    display: flex;

}
.date,
.name,
.phone,
.gender {
    width: 200px;
}