.formu {
    position: absolute;
    display: flex;
    background-color: rgba(242, 242, 242, 0.922);
    flex-direction: column;
    gap: 2em;
    padding: 4%;
    align-items: center;
    justify-content: center;
    left: 42%;
    box-shadow: 2px 2px 15px rgba(150, 150, 150, 0.889),
    2px 2px 25px rgba(166, 166, 166, 0.896);
}

.weas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.error {
    color: red;
    display: flex;

}