.name {
    position: absolute;
    top: 26%;
    left: 43%;
}

.date {
    position: absolute;
    top: 45%;
    left: 50%;
}

.gender {
    position: absolute;
    top: 51.5%;
    left: 42.7%;
}

.phone {
    position: absolute;
    top: 57.7%;
    left: 43.5%;
}