/* Estilos para todo el componente */
.about-container {
  margin-top: 3%;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgb(55, 129, 196), rgb(198, 226, 255), rgb(255, 255, 255));
}

.about-container p {
  font-size: 16px;
  color: rgb(35, 128, 211);
}

.participants-container {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 2em;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

/* Estilo para cada columna de participante */
.participant-column {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  padding: 20px; /* Aumentar el padding para hacer el contenedor más grande */
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Configuración para el flip */
  perspective: 1000px;
  cursor: pointer;
  width: 200px; /* Puedes ajustar el ancho según tus necesidades */
  height: 300px; /* Puedes ajustar la altura según tus necesidades */
}

.participant-column:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 12px rgba(67, 67, 67, 0.145);
}

.participant-column img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.participant-column strong {
  font-weight: bold; /* Estilo para los nombres en negrita */
}

.participant-column em {
  font-style: italic; /* Estilo para los lugares en cursiva */
}

.contact-icons img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

/* .contact-icons img:hover {
  transform: scale(1.08);
  transition: 0.3s linear;
} */

/* Estilo para el efecto de flip */
.participant-column.flipped {
  transform: rotateY(180deg);
  background-color: rgb(63, 81, 181);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  text-align: center;
}

.posterior-text {
  transform: rotateY(180deg);
  color: white; 
}

.paragraph-container {
  width: 80%;
  margin: 0 auto;
}

.paragraph-container p {
  color: white;
  font-size: 14px;
  margin-top: 35px;
}

.about-container h4 {
  color: white;
}

.equipo {
  color: rgb(131, 170, 255);
  text-shadow: 1px 1px 3px rgb(131, 170, 255);
}

.equipo {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.historia {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.containerhistoria {
  background-color: black;
  padding: 5%;
}

/**/

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transform-origin: 25% 50%;
            transform-origin: 25% 25%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff, 0 5px 0 #ffffff, 0 6px 0 #ffffff, 0 7px 0 #ffffff, 0 8px 0 #ffffff, 0 15px 15px rgba(63, 81, 181, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff, 0 5px 0 #ffffff, 0 6px 0 #ffffff, 0 7px 0 #ffffff, 0 8px 0 #ffffff, 0 15px 15px rgba(63, 81, 181, 0.3);
  }
}
