.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    height: 100%;
  }

.img {
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
}