.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding-top: 15%;
  }

.img {
    flex-direction: column;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}