.container {
    position: absolute;
    right: 16%;
    top: 15%;
}

.greet {
    position: fixed;
    max-width: 150px;
    color: rgb(228, 18, 18);
    top: -5px;
    right: 10%;
    font-weight: bolder;
    font-size: 20px;
    z-index: -1;
}

/* .icon {
    position: fixed;
    top: 7px;
    height: 50px;
    z-index: -1;
    right: 60px;
} */

.icon {
    width: 50px;
    height: 50px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    position: fixed;
    top: 7px;
    right: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
}

.logout {
    position: fixed;
    right: 30px;
    top: 10%;
}

.desplegable {
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 2.3%;
    top: 11%;
}

.botones {
    color: black;
    margin: 0%;
    padding: 10px;
}

.botones:hover {
    background-color: yellow;
    cursor: pointer;
    transition: 0.5s ease;
}