.container{
    height: 10vh;
    background-color: rgb(82, 139, 200);
    position: fixed;
    top:0%;
    width: 1500px;
    left: 0%;
    z-index: 5;
}

.nav {
    color: rgb(32, 32, 32);
    font-size: 40px;
    position: fixed;
    top: -6%;
    left:45%
}

.logo {
    position: fixed;
    color: rgb(32, 32, 32);
    font-size: 40px;
    top: 2%;
    left: 5%
}

.logo:hover {
    cursor: pointer;
}

.pepito{
    border:2px solid black;
    border-radius:50%;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2.3%;
    right: 13.5px;
}