.container{
    height: 10vh;
    background-color: rgb(248, 248, 248);
    position: fixed;
    top:0%;
    width: 1500px;
    left: 0%;
    z-index: 5;
}

.nav {
    color: rgb(32, 32, 32);
    font-size: 40px;
    position: fixed;
    top: -6%;
    left:45%
}

.logo {
    position: fixed;
    color: rgb(32, 32, 32);
    font-size: 40px;
    top: -6%;
    left: 5%
}

.logo:hover {
    cursor: pointer;
    color: rgb(157, 0, 0);
    transition: 0.6s ease;
}