.container {
    height: 10vh;
    background-image: url("../assets/imagenes/onda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  
/* .nav {
    color: rgb(216, 13, 13);
    font-size: 40px;
    position: fixed;
    top: -6%;
    left:45%
} */

.logo {
    position: fixed;
    color: rgb(32, 32, 32);
    font-size: 40px;
    top: 2%;
    left: 5%
}

.logo:hover {
    cursor: pointer;
    font-size: 50px;

}

.faq{
    border:2px solid black;
    border-radius:50%;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2.3%;
    right: 13.5px;
}

.faq:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;

}