.container{
    height: 10vh;
    background-color: #ffffff;
    position: fixed;
    top:0%;
    width: 2000px;
    left: 0%;
    z-index: 5;
}

.nav {
    color: #ffffff;
    font-size: 40px;
    position: fixed;
    top: -6%;
    left:45%
}

.logo {
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 40px;
    top: 2%;
    left: 5%
}

.logo:hover {
    cursor: pointer;
}

.pepito{
    border:2px solid rgb(254, 254, 254);
    border-radius:90%;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2.3%;
    right: 13.5px;
}