.container {
    height: 10vh;
<<<<<<< HEAD
    background-color: rgb(82, 139, 200);
=======
    background-size: cover;
    background-repeat: no-repeat;
>>>>>>> 9742b6adbdecbe6dbe01c09813a7be387fe62144
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    box-shadow: 0px 1px 12px rgba(32, 32, 32, 0.396);
  }

.nav {
    color: rgb(216, 13, 13);
    font-size: 40px;
    position: fixed;
    top: -6%;
    left:45%
}

.logo {
    position: fixed;
    top: 1%;
    left: 5%;
    height: 60px;
    width: auto;
}

.logo:hover {
    cursor: pointer;
    font-size: 50px;
}

.faq {
    border:2px solid black;
    border-radius:50%;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 2.3%;
    right: 13.5px;
}

.faq:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
}