.card_publication {
    background-color: #414e96;
    border: 1px solid #050505;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px; /* Ajusta el tamaño según tus necesidades */
    max-height: 300px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .lesson {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .about_class,
  .about_teacher,
  .grade,
  .value {
    font-size: 14px;
    margin-top: 3px;
  }
  