.card_publication {
    background-color: #4d4d4d;
    width: 100vh;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    place-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 220px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    place-content: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0%;
  }
  
  .lesson {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(206, 206, 206);
    padding: 2%;
    margin: 0%;
  }

  .grade {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: white;
    width: 100px;
    margin: 0%;
    height: 50px;
    text-align: center;
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .p {
    margin-bottom: 0px;
  }
  
  .about_class,
  .about_teacher {
    font-size: 12px;
    color:rgb(193, 193, 193);
    text-align: center;
    margin: 0%;
    width: 290px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-left: 5px;
  }

  .boxtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-content: center;
    gap: 0.5em;
    margin: 0%;
    height: 200px;
  }

  .value {
    color: white;
  }

  .boxtexto {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    place-content: center;
    align-items: center;
    justify-content: center;
  }

  .about1 {
    height: 80px;
    display: flex;
    margin: 0%;
    align-items: center;
    place-content: center;
    justify-content: center;
  }

  .about2 {
    height: 80px;
    display: flex;
    margin: 0%;
    align-items: center;
    place-content: center;
    justify-content: center;
  }
  /*////////////////////cardsfalse//////////////////////*/

  .cardstatusfalse {
    background-color: #4d4d4d;
    border-radius: 1em;
    padding: 5%;
    width: 60vh;
    max-height: 300px;
  }

  .titlefalse {
    font-size: 20px;
    font-weight: bold;
    color: rgb(119, 119, 119);
    text-align: center;
  }

  .lessonfalse {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(119, 119, 119);
  }
  
  .gradefalse {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: rgb(119, 119, 119);
    width: 100px;
    margin: 0%;
    height: 50px;
    text-align: center;
    place-content: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .about_classfalse,
  .about_teacherfalse {
    font-size: 12px;
    color:rgb(119, 119, 119);
  }

  .valuefalse {
    color: rgb(119, 119, 119);
  }
  
  
  