.card_publication {
  background-color: rgb(216, 233, 253);
  border-radius: 10px;
  display: flex;
  gap: 2em;
  width: 100%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.card_publication:hover {
  transform: scale(1.05);
  transition: 0.1s linear;
  box-shadow: 0px 4px 6px rgba(37, 37, 37, 0.294);
}

.card_publication:not(hover) {
  transform: scale(1);
  transition: 0.1s linear;
}

.boxtitulo {
  width: 110vh;
  height: 15vh;
  display: flex;
  gap: 1em;
}

.title {
  width: 70vh;
  display: flex;
  font-size: 15px;
  text-overflow: ellipsis;
  text-align: center;
  align-items: center;
  place-content: center;
  margin: 0%;
}

.lesson {
  width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  place-content: center;
  margin: 0%;
}

.grade {
  width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  margin: 0%;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  margin: 0%;
}

.buttons {
  display: flex;
  place-content: center;
  align-items: center;
  gap: 1em;
}

.editar {
  width: 8em;
}

.cardstatusfalse {
  background-color: rgb(208, 208, 208);
  border-radius: 10px;
  display: flex;
  gap: 2em;
  width: 100%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.titlefalse{
  width: 70vh;
  display: flex;
  font-size: 15px;
  text-overflow: ellipsis;
  text-align: center;
  align-items: center;
  place-content: center;
  margin: 0%;
  color: grey;
}

.lessonfalse{
  width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  place-content: center;
  margin: 0%;
  color: grey;
}

.valuefalse{
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  margin: 0%;
  color: grey;
}