.publication_user_container {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    place-content: center;
  }