.publication_user_container {
    /* Estilos para el contenedor principal */
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  
  .card_container {
    /* Estilos para cada tarjeta de publicación */
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #f8f8f8; */
    width: 250px; /* Ajusta el tamaño según tus necesidades */
    max-height: 300px;
  }

  .details_link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  } 
  